<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div id="login">
    <button type="submit">login</button>
  </div>
  <div id="sign-up">
    <button type="button">Sign up instead</button>
  </div>
</form>

<script src="/javascript/login.js"></script>